[Desktop Entry]
Name=FourK
GenericName=4096;
Comment=A Number Sliding Game
Categories=Game;
Exec=com.github.fourkgamedevs.fourk
Icon=com.github.fourkgamedevs.fourk
Terminal=false
Type=Application
Keywords=2048;4096;fourk;
